 <!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <title>
            Team 1014 Scouting System
        </title>
    </head>

    <body>
        <div class="navbar">
        </div>
        <h3>
            Team 1014 Scouting System
        </h3>
        <p>
            <form action="/data.html" method="post">
                Input Event Code: <input type="text" name="eventCode">  <br />
                <p></p>
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>